dist: trusty
sudo: false

language: scala

scala:
  - 2.12.4
  - 2.11.12

jdk: oraclejdk8

script: sbt ++$TRAVIS_SCALA_VERSION clean coverage test

after_success: sbt ++$TRAVIS_SCALA_VERSION coverageReport coveralls

notifications:
  slack:
    on_success: never
    on_failure: always
    rooms:
      secure: "mEABwxzOlB9NdTdIsTZOBUsbHT4HEh/+fnWaj4R/NeQOCot8AGjosq2EYre+bCeyUDjQd7cnPStx++zkDazYjbyAGRd0F804o//LjTnnXQoeQaknP5/Gw7uraM8sGw3/fUAjB3t6x2LZZ8lnbDe27e8gAlKXxreaLLAsyCkj8/OOjWRKCzwNZO2KL4LWs6/XHZ37uM9inRsEUG52aXiXERRZcdLeg0hqGKjEJHDTmWQ5hpIvoo8fWwyS65zwJD2fUGq3dH7afH9ZHSoD/idBuqscIU4TPcQXly9qfMVhZxua4+pVpE3vLLHqmSvofVEtSXgoSIBtI/dPYEKcNQgnwC479e3SR+30hdIOTga1t6fzyRsmTZtwf7NOrS4ydwnIGGtbYJC2cTD7a5nfd/X0V0Q9o+lMwEpFdwNU5pfWnmxs19o4I/Mcp5ha3ppFcNe6S4b5xnNZt5ME6328iGRDWxA1mXTxx7TAhojVWjS4wialnTdtJEPWAVh8Zs1rPkoDS8IRfejFX0ofs7W1QWmkphdf20ffUfsCSok7EoWRR6hdwJPeup/nZ5aB+nSwM5H6wsT6fbQ2gDlFibPqIhylbzWddRzqdKI3Y6XxIEzBuIIb6c1Pytn33hI/Q4RZlnPidtuUBM/wcsZ9PIUO+vkjeOpCWaL+ozzvs+el4wsqzC8="

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt

before_cache:
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt        -name "*.lock"               -print -delete